* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #1abc9c;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    color: #2c3e50;
}

.product {
    display: inline-block;
    width: 30%;
    margin: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#porteo {
    background-color: #e0e0e0; /* Color de fondo suave para diferenciar la sección */
}

#porteo h2 {
    color: #333;
}

#porteo p {
    margin-bottom: 20px;
}

#porteo .product {
    width: 40%; /* Ajusta el ancho del producto en la sección de porteo */
    margin: 20px auto; /* Centra el producto */
}

#porteo button {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#porteo button:hover {
    background-color: #16a085;
}
